.projects {
    background-color: var(--body-color);
}
.project_data {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-1-5);
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
}

.project_img {
    height: 350px;
}
.image_project {
    height: 100%;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}
.project_content {
    padding: 2rem 2rem 1rem 0;
    position: relative;
}
.project_title {
    font-size: var(--h3--font-size);
}
.project_heading {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-1-5);
}
.project_links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: 20px;
  
}
.project_links svg, .project_links img {
    color: var(--title-color);
}
.project_description  {
    font-size: var(--normal-font-size);
}
.project_techniques {
    position: absolute;
    bottom: 20px;
}
.project_techniques .technique_icon {
    font-size: 2.25rem;
    margin-right: 8px;
}
.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .modal_content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }
  
  .modal_image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-bottom: var(--mb-1-5);
    display: flex;
    align-items: center;
  }
  
  .close {
    position: absolute;
    top: -3rem;
    right: -2rem;
    color: white;
    font-size: 3rem;
    cursor: pointer;
  }
  
/*============================Reponsive==================*/
/*For large devices*/
@media screen and (max-width: 992px) {
    .project_img {
        height: 300px;
    }

  }
  /*For medium devices*/
  @media screen and (max-width: 768px) {
    .project_links {
        font-size: 1.2rem;
        margin-left: auto;
        margin-right: 5px;
    }
    .project_techniques {
        position: absolute;
        bottom: 0;
    }
    .project_techniques .technique_icon {
        font-size: 2rem;
        margin-right: 8px;
    }
    .project_techniques .technique_icon .img_icon{
        width: 23px !important;
        height: 25px !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    .project_data {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        margin-bottom: var(--mb-1-5);
    }
    .project_img {
        height: 200px;
    }
    .image_project {
        height: 100%;
        width: 100%;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        border-bottom-left-radius: 0;
    }
    .project_content {
        padding: 0 1rem 4rem 1rem;
        position: relative;
    }
    .project_title {
        font-size: var(--normal--font-size);
    }
    .project_heading {
        margin-bottom: var(--mb-0-5);
    }
    .project_links {
        font-size: 1.2rem;
        margin-left: auto;
        margin-right: 0;
    }
    .project_techniques {
        position: absolute;
        bottom: 5px;
        left: 20px;
    }
    .project_techniques .technique_icon {
        font-size: 2rem;
        margin-right: 8px;
    }
    .project_techniques .technique_icon .img_icon{
        width: 23px !important;
        height: 25px !important;
    }
    .modal_image {
        width: 100%;
        margin-bottom: var(--mb-0-5);
    }
    .close {
        position: absolute;
        top: -3.5rem;
        right: -0.5rem;
        color: white;
        font-size: 3rem;
        cursor: pointer;
      }
  }
  /*For small devices*/
  @media screen and (max-width: 350px) {

    // .project_data {
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     row-gap: 1rem;
    //     margin-bottom: var(--mb-1-5);
    // }
    // .project_img {
    //     height: 200px;
    // }
    // .image_project {
    //     height: 100%;
    //     border-top-left-radius: 1.25rem;
    //     border-top-right-radius: 1.25rem;
    //     border-bottom-left-radius: 0;
    // }
    // .project_content {
    //     padding: 0 1rem 4rem 1rem;
    //     position: relative;
    // }
    // .project_title {
    //     font-size: var(--normal--font-size);
    // }
    // .project_heading {
    //     margin-bottom: var(--mb-0-5);
    // }
    // .project_links {
    //     font-size: 1.2rem;
    //     margin-left: auto;
    //     margin-right: 0;
    // }
    // .project_techniques {
    //     position: absolute;
    //     bottom: 5px;
    //     left: 20px;
    // }
    // .project_techniques .technique_icon {
    //     font-size: 2rem;
    //     margin-right: 8px;
    // }
    // .project_techniques .technique_icon .img_icon{
    //     width: 23px !important;
    //     height: 25px !important;
    // }
  }